@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;

}
img{
    &:hover {
        filter: grayscale(70%);
    }
}
body {
    background-image: url('../imagenes/56862015-resumen-de-fondo-azul-o.png');
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}
@import "navboots";
@import "header";
@import "mixin";
@import "main-index";
@import "quienes-somos";
@import "proyectos";
@import "main-lista";
@import "ideas";
@import "contactos";
@import "media-querie";
@import "footer";
$colortitulo: rgb(37, 37, 37);
$border: rgb(43, 0, 0);
